{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
    <h1>Mes Classes</h1>
    <hr>
    <a href="/">
        <div class="class-box">
            <div class="class-header">
                
            </div>
            <div class="class-container">
                <p>ICS3U</p>
                <p>Génie Informatique</p>
            </div>
        </div>
    </a>


    <div class="class-box">
        <div class="class-header">
            
        </div>
        <div class="class-container">
            <p>SNC</p>
            <p>Science 10e</p>
        </div>
    </div>

{% endblock %}