{% extends "layout.html" %}

{% block title %}
  Bienvenu!
{% endblock %}

{% block main %}
<!--FIX INDENTATION-->
<div class="p-5 text-center">
  <div class="text-start">
    <h1 class="mb-3 blue text-huge">Bienvenu</h1>
    <h1 class="mb-3 blue text-huge">au Gestionnaire de Note</h1>
    <hr>
    <h4 class="mb-3">Un project par Fady Gawargios</h4>
    <p>Je vous remerice énormement d'avoir choisi d'utiliser le gestionnaire de note que j'ai passé ces derniers mois à développer. 
        S'il y a j'amais des inconvénients ou des fonctionnalités utiles que vous aimeriez voir ici, n'hésitez pas à me contacter à l'école ou par courriel: <a href="fadyg06@gmail.com">fadyg06@gmail.com</a>; merci encore! 
    </p>
    <a class="btn btn-primary" href="/login" role="button">Se Connecter</a>
  </div>
</div>
{% endblock %}