{% extends "layout.html" %}

{% block title %}
    Bienvenu
{% endblock %}

{% block main %}
<div class="p-5 text-center">
    <div class="text-left">
        <h1 class="mb-3 blue text-huge">Bienvenu</h1>
        <h1 class="mb-3 blue text-huge">au Gestionnaire de Note</h1>
        <hr>
        <h4 class="mb-3">Un project par Fady Gawargios</h4>
        <p>Je vous remerice énormement d'avoir </p>
        <a class="btn btn-primary" href="/login" role="button">Se Connecter</a>
    </div>
  </div>
{% endblock %}